.structurizr

.gradle/*
build/*
.idea/*
src/main/resources/static/*
src/main/webapp/WEB-INF/fragments/authoring-options.jspf
src/main/webapp/WEB-INF/fragments/dsl-keywords.jspf
src/main/webapp/WEB-INF/fragments/quick-navigation.jspf
src/main/webapp/WEB-INF/fragments/progress-message.jspf
src/main/webapp/WEB-INF/fragments/tooltip.jspf
src/main/webapp/WEB-INF/fragments/diagrams
src/main/webapp/WEB-INF/fragments/decision-log
src/main/webapp/WEB-INF/fragments/documentation
src/main/webapp/WEB-INF/fragments/workspace
src/main/webapp/WEB-INF/views/404.jsp
src/main/webapp/WEB-INF/views/500.jsp
src/main/webapp/WEB-INF/views/diagram-editor.jsp
src/main/webapp/WEB-INF/views/diagrams.jsp
src/main/webapp/WEB-INF/views/decision-log.jsp
src/main/webapp/WEB-INF/views/decision-log-redirect.jsp
src/main/webapp/WEB-INF/views/documentation.jsp
src/main/webapp/WEB-INF/views/documentation-redirect.jsp
src/main/webapp/WEB-INF/views/explore-graph.jsp

docs/structurizr.properties
docs/workspace.json
