.structurizr

.gradle/*
build/*
.idea/*
src/main/resources/build.properties
src/main/resources/static/bootstrap-icons/*
src/main/resources/static/css/*
src/main/resources/static/html/*
src/main/resources/static/img/*
src/main/resources/static/js/*

src/main/webapp/WEB-INF/fragments/graphviz.jspf
src/main/webapp/WEB-INF/fragments/progress-message.jspf
src/main/webapp/WEB-INF/fragments/quick-navigation.jspf
src/main/webapp/WEB-INF/fragments/tooltip.jspf
src/main/webapp/WEB-INF/fragments/diagrams/*
!src/main/webapp/WEB-INF/fragments/diagrams/publish.jspf
src/main/webapp/WEB-INF/fragments/decisions/*
src/main/webapp/WEB-INF/fragments/workspace/load-via-inline.jspf
src/main/webapp/WEB-INF/fragments/workspace/load-via-api.jspf
src/main/webapp/WEB-INF/fragments/workspace/javascript.jspf
src/main/webapp/WEB-INF/fragments/workspace/client-side-encryption-passphrase-modal.jspf

src/main/webapp/WEB-INF/jsp/404.jsp
src/main/webapp/WEB-INF/jsp/500.jsp
src/main/webapp/WEB-INF/jsp/error.jsp
src/main/webapp/WEB-INF/jsp/diagrams.jsp
src/main/webapp/WEB-INF/jsp/decisions.jsp
src/main/webapp/WEB-INF/jsp/documentation.jsp
src/main/webapp/WEB-INF/jsp/explore.jsp
src/main/webapp/WEB-INF/jsp/graph.jsp
src/main/webapp/WEB-INF/jsp/inspections.jsp
src/main/webapp/WEB-INF/jsp/model.jsp
src/main/webapp/WEB-INF/jsp/tree.jsp
src/main/webapp/WEB-INF/jsp/review-create.jsp
src/main/webapp/WEB-INF/jsp/review.jsp

src/main/java/com/structurizr/util/DslTemplate.java

docs/structurizr.properties
docs/workspace.json
structurizr-*.json
