.structurizr

.gradle/*
build/*
.idea/*
src/main/resources/build.properties
src/main/resources/static/*

src/main/webapp/WEB-INF/fragments/progress-message.jspf
src/main/webapp/WEB-INF/fragments/quick-navigation.jspf
src/main/webapp/WEB-INF/fragments/workspace/*

src/main/webapp/WEB-INF/jsp/404.jsp
src/main/webapp/WEB-INF/jsp/500.jsp
src/main/webapp/WEB-INF/jsp/error.jsp
src/main/webapp/WEB-INF/jsp/diagrams.jsp
src/main/webapp/WEB-INF/jsp/decision-log.jsp
src/main/webapp/WEB-INF/jsp/documentation.jsp

docs/structurizr.properties
docs/workspace.json
